
@import forms._
@import play.api.i18n.Messages
@import play.api.Play.current
@import play.api.i18n.Messages.Implicits._

@(form: Form[_], message: String)(implicit request: Request[_])

@main("Welcome to my OrangeBus Test") {

    @Html("Welcome to the form submission page")

    @helper.form(action = routes.HomeController.submit(), 'id -> "mySubmissionForm") {

        @helper.inputText(
                    form("name"),
                    'id -> "name",
                    '_label -> "What is your name?",
                    '_showConstraints  -> false
                )
        @helper.inputText(
            form("email"),
            'id -> "email",
            '_label -> "What is your email address?",
            '_showConstraints  -> false
        )

        <input class="button" type="submit" value="Continue" />

    }

}
